.card-lg {
  flex-direction: row-reverse;
  align-items: center;

  @include desktop {
    flex-direction: column;
  }
}

blockquote > p {
  display: inline-block;
  padding: 10px 20px;
  background: rgba($color: $secondary-color, $alpha: .5);
  border-left: 2px solid rgba($color: $primary-color, $alpha: .4);
  font-style: italic;
}

.content {
  * {
    margin-bottom: 20px;
  }

  strong {
    font-family: $secondary-font;
    font-size: 22px;
    font-weight: normal;
    color: $text-color-dark;
    display: inherit;
    line-height: 1.5;
  }
}