.contact-section {
  background: url(../../assets/img/contact.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.its-a-trap { //this makes the honeypot input fields invisible (they are used to fool spam bots)
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}