/* montserrat-regular - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/montserrat-v24-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/montserrat-v24-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/montserrat-v24-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/montserrat-v24-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/montserrat-v24-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/montserrat-v24-latin-ext_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-700 - latin-ext_latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/montserrat-v24-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/montserrat-v24-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/montserrat-v24-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/montserrat-v24-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/montserrat-v24-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/montserrat-v24-latin-ext_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  /* noto-serif-regular - latin-ext_latin */
@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/noto-serif-v21-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-regular.svg#NotoSerif') format('svg'); /* Legacy iOS */
  }
  
  /* noto-serif-italic - latin-ext_latin */
  @font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: url('../../assets/fonts/noto-serif-v21-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-italic.svg#NotoSerif') format('svg'); /* Legacy iOS */
  }
  
  /* noto-serif-700italic - latin-ext_latin */
  @font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 700;
    src: url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700italic.svg#NotoSerif') format('svg'); /* Legacy iOS */
  }
  
  /* noto-serif-700 - latin-ext_latin */
  @font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/noto-serif-v21-latin-ext_latin-700.svg#NotoSerif') format('svg'); /* Legacy iOS */
  }

