section#hubs-section {
  background: url(../../assets/img/tile-light-purple.jpg);
}

.filter-controls {
  li {
    cursor: pointer;

    &.active {
      font-weight: bold;
    }
  }
}

#hubs-section img, #hubs-section #grid-add-item {
  height: 245px;
}