.media-page {
  .btn {
    text-transform: none;
    font-weight: 400;
  }
  img.item-logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: right;  
    margin-left: 10px;
    border-radius: 3px;  
    border: 1px solid rgba($black, 0.5);
  }
  .card a {
    color: lighten($primary-color, 10%);
    &:hover {
      color: lighten($primary-color, 30%);
    }
  }
  h2 {
    margin-top: 40px;
  }
}

