.navigation{
  padding: 40px 40px 20px 40px;
  background-color: rgba($primary-color, 0.8);
  transition: .8s ease;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  &.nav-bg {
    background-color: rgba($primary-color, 0.8);
    padding: 15px 40px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    @include desktop {
      padding: 15px 20px;
    }
  }
  @include desktop {
    padding: 20px;
    background: $primary-color;
  }
}

.navbar{
  .nav-item{
    .nav-link{
      font-family: $primary-font;
      text-transform: uppercase;
      padding: 15px;
      color: $white;
    }
    &.active{
      font-weight: bold;
    }
  }
  .navbar-brand {
    background-color: $secondary-color;
    img {
      height: 40px;
      @include desktop {
        height: 30px;
      }
    }
  }
}

.dropdown-menu {
  background-color: lighten($color: $primary-color, $amount: 10);
  right: 0;
  left: unset;
  .dropdown-item {
    color: rgba($white, 0.8);
    &:hover {
      background-color: #ffffff00;
      color: rgba($white, 0.65);
    }
  }
}


.jump-mark {
  height: 0;
  width: 0;
  opacity: 0;
  position: relative;
  top: -130px;
}
