section#resources-section {
  background: url(../../assets/img/tile-dark-purple.jpg);
}

#resources-section p {
  color: $white;
}

#resources-section img, #resources-section #grid-add-item {
  height: 200px;
}

