
.bg-primary {
  background-color: $third-color !important;
  background: url(../../assets/img/tile-ochre2.jpg);
}

.bg-light {
  background: url(../../assets/img/tile-light-purple2.jpg);
}

.bg-dark {
  background-color: $primary-color !important;
  background: url(../../assets/img/tile-dark-purple2.jpg);
}