section#asktools-section {
  background:url(../../assets/img/tile-purple.jpg);
}

#asktools-section p {
  color: $text-color-dark;
}

#asktools-section img, #asktools-section #grid-add-item {
  height: 200px;
}