<!-- about -->
<section id="about" class="section">
  <div id="about-section" class="jump-mark"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto mb-60">
        <h2>{{ site.data.settings.about-title }}</h2>
        <p>{{ site.data.settings.about-description }}</p>
      </div>
      {% for about in site.data.settings.about %}
        <div class="col-lg-6 col-md-6 mb-20">
          <div class="d-flex">
            <div class="mr-lg-5 mr-3">
              <i class="{{ about.icon }} icon d-block"></i>
            </div>
            <div>
              <h5>{{ about.name }}</h5>
            </div>
          </div>
          
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /about -->