<!-- about -->
<section id="about-section" class="section">
  <div id="about" class="jump-mark"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto mb-5">
        <h2 class="text-center">{{ site.data.settings.about-title }}</h2>
        <p>{{ site.data.settings.about-description }}</p>
      </div>
      {% for about in site.data.settings.about %}
        <div class="col-lg-6 col-md-6 mb-20">
          <div class="d-flex">
            <div class="about-icon mr-lg-4 mr-3">
              <i class="{{ about.icon }} icon d-block"></i>
            </div>
            <div>
              <h5>{{ about.name }}</h5>
            </div>
          </div>
          
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12 mx-auto mt-5 mb-3">
        {{ site.data.settings.about-description-2 | markdownify }}
      </div>  
    </div>
    <div class="row">
      <a class="btn btn-sm btn-primary mb-5 mx-auto" href="{{ site.baseurl }}{% link _pages/profile.md %}">{{ site.data.settings.about-profile-button-title }}</a>
    </div>
  </div>
</section>
<!-- /about -->