<!-- #ASKtools -->
<section class="page-section bg-primary" id="{{ site.data.sitetext[site.locale].asktools.section | default: "asktools" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 text-center text-light{% if site.data.sitetext[site.locale].asktools.submit %} sc{% endif %}">
        <h2 class="section-heading">{{ site.data.sitetext[site.locale].asktools.title | default: "#asktools" }}</h2>
        {% if site.data.sitetext[site.locale].asktools.text %}
        <p class="text-light">{{ site.data.sitetext[site.locale].asktools.text }}</p>
        {% endif %}
        {% if site.data.sitetext[site.locale].asktools.submit %}
        <div class="sc-overlay">
          <h2>We need content here!</h2>
          <a class="btn btn-primary btn-lg mx-auto p-3" target="_blank" href="{{ site.data.sitetext[site.locale].asktools.submit }}">Submit Content</a>
          <a class="how-to" href="{{ site.data.sitetext[site.locale].submit-content.url }}">How it works?</a>
        </div>
        {% endif %}
      </div>
      <div class="col-lg-6 col-sm-12 text-center text-light" >
        <img class="w-100 rounded" src="{{site.data.sitetext[site.locale].asktools.image }}" />
      </div>
    </div>
  </div>
</section>
<!-- End #ASKtools -->