<!-- hero area -->
<section class="hero-area" id="parallax">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center">
        <p class="text-white font-secondary introduction">{{ site.data.settings.hero.hero-title }}</p>
        <h1 class="text-white mb-4">{{ site.data.settings.hero.hero-subtitle }}</h1>
        <a class="btn btn-primary" href="{{ site.data.settings.hero.hero-button-link }}">{{ site.data.settings.hero.hero-button-text }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->