
<div class="row shuffle-wrapper">
  {% for highlight in site.highlights %}
    <div class="col-md-6 mb-4 shuffle-item">
      <div class="position-relative hover-wrapper">
        <img src="{{ site.baseurl }}/{{ highlight.thumbnail }}" alt="hub-alt" class="img-fluid w-100 d-block" />
        <a class="hover-overlay" href="{{ site.baseurl }}{{ highlight.url }}">  {% comment %}  {% endcomment %}
        </a>
      </div>
      <a href="{{ site.baseurl }}{{ highlight.url }}">
        <div class="caption">
          <h4>{{ highlight.title }}</h4>
          <p class="text-muted text-left">{{ highlight.subtitle }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
