<!-- hubs -->
<section id="hubs" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.hub-section-title}}</h2>
        <p>{{ site.data.settings.hub-section-description }}</p>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for hub in site.hubs %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ hub.image }}" alt="hub-alt" class="img-fluid rounded w-100 d-block" />
          <div class="hover-overlay">
            <div class="hover-content">
              <h4 class="text-white">{{ hub.title }}</h4>
              <a class="btn btn-light btn-sm" href="{{ hub.url }}">view hub</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <div style="display:block; width:200px; height: 300px; background:#DFAF5F"></div>
          <div class="hover-overlay">
            <div class="hover-content">
              <a href="https://github.com/ASKnetCommunity/ASKnet.Community/issues/new?assignees=&labels=content-submit%2Cnew-hub&template=new-hub.yml&title=Add+Hub%3A+"><i class="ti-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /hub -->