<!-- hubs Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].hubs.section | default: "hubs" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center{% if site.data.sitetext[site.locale].hubs.submit %} sc{% endif %}">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].hubs.title | markdownify | default: "hubs" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].hubs.text | markdownify }}</h3>
        {% if site.data.sitetext[site.locale].hubs.submit %}
          <div class="sc-overlay">
            <h2>We need content here!</h2>
            <a class="btn btn-primary btn-lg mx-auto p-3" target="_blank" href="{{ site.data.sitetext[site.locale].hubs.submit }}">Submit Content</a>
            <a class="how-to" href="{{ site.data.sitetext[site.locale].submit-content.url }}">How it works?</a>
          </div>
          {% endif %}
      </div>
    </div>
    <div class="row">
	{% for project in site.hubs %}
      <div class="col-md-4 col-sm-6 hubs-item">
        <a class="hubs-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="hubs-hover">
            <div class="hubs-hover-content">
              <i class="{{ site.data.style.hubs-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="hubs-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
      <div class="col-md-4 col-sm-6 hubs-item">
        <a class="hubs-link" data-toggle="modal" href="#">
          <div class="hubs-hover">
            <div class="hubs-hover-content">
              <i class="{{ site.data.style.hubs-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/hubs/00-new-hub.gif" alt="">
        </a>
        <div class="hubs-caption">
          <h4>Add new Hub</h4>
          <p class="text-muted">you can register your hub here</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include modals.html %}