<!-- about -->
<section id="lead-section" class="section">
  <div id="lead" class="jump-mark"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2 class="text-center">{{ site.data.settings.lead-title }}</h2>
        {{ site.data.settings.lead-description | markdownify }}
      </div>
    </div>
    <div class="row">
      <a class="btn btn-primary mx-auto" href="{{ site.data.settings.lead-button-link }}">{{ site.data.settings.lead-button-title }} <i class="fas fa-external-link-alt"></i></a>
    </div>
  </div>
</section>
<!-- /about -->