<div class="res-box my-5">
  <div class="row">
    <div class="{% if include.src %}col-md-7{% else %}col-12{% endif %} text-left">
      <h3 class="mb-3">{{ include.title }}</h3>
      {{ include.text | markdownify }}
      <a href="{{ include.url }}" class="btn btn-primary btn-sm mt-2 mb-4" target="_blank">Visit <i class="fas fa-external-link-alt"></i></a>
    </div>
    {% if src %}
      <div class="col-md-5">
        {% assign caption = include.caption | strip %}
        {% assign src = include.src | prepend: site.baseurl %}
        <figure class="text-center m-0">
          <img src="{{ src }}" alt="{{ caption }}" class="img-fluid rounded">
          {% if caption and caption != "" %}
            <figcaption class="mt-2 text-muted">{{ caption }}</figcaption>
          {% endif %}
        </figure>
      </div>  
    {% endif %}
  </div>  
</div>

