<!-- resources -->
<section id="resources" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white">{{ site.data.settings.resources-title}}</h2>
        <p class="font-primary paragraph-lg text-white">{{ site.data.settings.resources-description }}</p>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for resource in site.resources %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ resource.thumbnail }}" alt="resources-alt" class="img-fluid rounded w-100 d-block" />
          <div class="hover-overlay">
            <div class="hover-content">
              <h4 class="text-white">{{ resource.title }}</h4>
              <a class="btn btn-light btn-sm" href="{{ resource.url }}">view resource</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <div style="display:block; width:200px; height: 300px; background:#DFAF5F"></div>
          <div class="hover-overlay">
            <div class="hover-content">
              <a href="https://gitresources.com/ASKnetCommunity/ASKnet.Community/issues/new?assignees=&labels=content-submit%2Cnew-resources&template=new-resources.yml&title=Add+resources%3A+"><i class="ti-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /resources -->