<!-- About -->
  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].timeline.section | default: "about" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center{% if site.data.sitetext[site.locale].timeline.submit %} sc{% endif %}">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].timeline.title | markdownify | default: "About" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].timeline.text | default: "timeline"}}</h3>
          {% if site.data.sitetext[site.locale].timeline.submit %}
          <div class="sc-overlay">
            <h2>We need content here!</h2>
            <a class="btn btn-primary btn-lg mx-auto p-3" target="_blank" href="{{ site.data.sitetext[site.locale].timeline.submit }}">Submit Content</a>
            <a class="how-to" href="{{ site.data.sitetext[site.locale].submit-content.url }}">How it works?</a>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
      {%- assign align = site.data.sitetext[site.locale].timeline.start_align -%}
      {%- for event in site.data.sitetext[site.locale].timeline.events -%}
            {%- if align == "right" -%}
              {%- if event.align and event.align == "left" -%}
                {%- assign align = "right" -%}
                <li>
              {%- else -%}
                {%- assign align = "left" %}
                <li class="timeline-inverted">
              {% endif %}
            {% else %}
              {%- if event.align and event.align == "right" -%}
                {%- assign align = "left" -%}
                <li class="timeline-inverted">
              {%- else -%}
                {%- assign align = "right" %}
                <li>
              {% endif %}
            {%- endif -%}
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="{{ event.alt | default: ""}}">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{ event.year | markdownify }}</h4>
                  <h4 class="subheading">{{ event.title }}</h4>
                </div>
                <div class="timeline-body">
                  <div class="text-muted">{{ event.desc | markdownify }}</div>
                </div>
              </div>
            </li>
		  {% endfor %}	
            
		  {% if site.data.sitetext[site.locale].timeline.end %}	
			<li class="timeline-inverted">
        <a href="{{ site.data.sitetext[site.locale].timeline.end.link }}" target="_blank">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/img/timeline/add.png" alt="add timeline event">
              </div>
        </a>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <a href="{{ site.data.sitetext[site.locale].timeline.end.link }}" target="_blank">
                    <h4>{{ site.data.sitetext[site.locale].timeline.end.title }}</h4>
                  </a>
                </div>
              </div>
      </li>

		  {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </section>
<!-- End About -->
