<!-- tools -->
<section id="asktools-section" class="section">
  <div id="asktools" class="jump-mark"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 >{{ site.data.settings.tools-title}}</h2>
        {{ site.data.settings.tools-description | markdownify }}
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for tool in site.tools %}
      <div class="col-md-4 col-sm-6 mb-4 shuffle-item">
        <div class="position-relative hover-wrapper">
          <img src="{{ site.baseurl }}/{{ tool.thumbnail }}" alt="tools-alt" class="img-fluid w-100 d-block" />
          <a class="hover-overlay" href="{{ tool.link }}">
            <div class="hover-content">
              <i class=" fas fa-plus fa-3x"></i>
            </div>
          </a>
        </div>
        <div class="caption">
          <h4>{{ tool.title }}</h4>
          <p class="text-muted">{{ tool.subtitle }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="col-md-4 col-sm-6 mb-4 shuffle-item">
        <div class="position-relative hover-wrapper">
          <div id="grid-add-item"></div>
          <a class="hover-overlay" href="https://github.com/ASKnetCommunity/ASKnet.Community/issues/new?assignees=&labels=content-submit%2Cnew-tools&template=new-tools.yml&title=Add+tools%3A+">
            <div class="hover-content">
              <i class=" fas fa-plus fa-3x"></i>
            </div>
          </a>
        </div>
        <div class="caption">
          <h4>Add new Tool</h4>
          <p class="text-muted">you can register your tool here</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /tools -->