<!-- tools -->
<section id="asktools" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-dark">{{ site.data.settings.tools-title}}</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for tool in site.tools %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ tool.thumbnail }}" alt="tools-alt" class="img-fluid rounded w-100 d-block" />
          <div class="hover-overlay">
            <div class="hover-content">
              <h4 class="text-white">{{ tool.title }}</h4>
              <a class="btn btn-light btn-sm" href="{{ tool:link }}">view tool</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <div style="display:block; width:200px; height: 300px; background:#DFAF5F"></div>
          <div class="hover-overlay">
            <div class="hover-content">
              <a href="https://gittools.com/ASKnetCommunity/ASKnet.Community/issues/new?assignees=&labels=content-submit%2Cnew-tools&template=new-tools.yml&title=Add+tools%3A+"><i class="ti-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /tools -->