/* Button style */
.btn {
  font-size: 22px;
  font-family: $primary-font;
  color: $white !important;
  background-image: linear-gradient(160deg, rgba($white, 0.25), rgba($white, 0));
  text-transform: capitalize;
  padding: 16px 44px;
  margin-top: 15px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }

  &:active {
    box-shadow: none;
  }

  &-sm {
    font-size: 15px;
    padding: 10px 30px;
  }

  &-xs {
    padding: 5px 10px;
    font-size: 15px;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: $white;

  &:active {
    background-color: lighten($color: $primary-color, $amount: 10) !important;
  }

  &:hover {
    background-color: lighten($color: $primary-color, $amount: 10);
  }

  &.focus,
  &.active {
    background-color: lighten($color: $primary-color, $amount: 10) !important;
    box-shadow: none !important;
  }
}

.hero-area, .contact-section {
  .btn-primary {
    border: 1px solid rgba($secondary-color, 0.5);
  }
}


.btn-transparent {
  background-color: transparent;
  color: $primary-color;
  font-weight: bold;

  &:active,
  &:hover {
    color: $primary-color;
  }
}