/*  typography */

@import 'templates/fonts';

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: $secondary-font;
  @include desktop {
    font-size: 1.1rem;
  }
  &-lg{
    font-size: 22px;
  }
}

.page-content { //select only the ol/ul in the page body, not the ones used for the header menu
  ol,
  ul {
    font-family: $secondary-font;
    font-size: 1.3rem;
    @include desktop {
      font-size: 1.1rem;
    }
    li {
      margin-bottom: 1rem;
    }
  }
}

.text-muted {
  color: rgba($color: $primary-color, $alpha: .6) !important;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color;
  font-family: $primary-font;
  line-height: 1.2;
  font-weight: 700;
}

h1, .h1{
  font-size: 80px;
  word-wrap: anywhere;
  @include desktop {
    font-size: 38px;
  }
}

h2, .h2{
  font-size: 40px;
  margin-bottom: 1em;
  @include desktop {
    font-size: 32px;
  }
}

h3, .h3{
  font-size: 32px;
  @include desktop {
    font-size: 28px;
  }
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 14px;
}

.page-layout {  //set smaller font sizes for headings only on "layout: page" (like imprint etc.)

  h1, .h1{
    font-size: 40px;
  }
  
  h2, .h2{
    font-size: 32px;
    margin-bottom: .5rem;
  }
  
  h3, .h3{
    font-size: 22px;
  }
  
  h4, .h4{
    font-size: 18px;
  }
  
  h5, .h5{
    font-size: 14px;
  }
}