// Color Variables
$primary-color: #30002A; // #DFAF5F;
$secondary-color: #efe2f3; // #8F747F; "old" purple
$third-color: #EEE7D4;
$fourth-color: #C5A14B;
$link-color: darken($color: $fourth-color, $amount: 10); // #A46131;
$link-hover-color: $fourth-color;
$text-color: $primary-color;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$secondary-font: "Noto Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$icon-font: 'themify';