---
layout: default
---

<section class="section hub-nav bg-dark"> 
</section>

<section class="section hub-page pt-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-12 mx-auto">
        <a class="btn btn-sm btn-primary" href="{{ site.baseurl }}{% link index.html %}#members"><i class="fas fa-chevron-left"></i> back</a>
        <h3 class="mb-3 mt-5 text-center">{{ page.title | escape }}</h3>
        <p class="mx-auto">{{ page.subtitle }}</p>
        <div class="content">
          <img src="{{ page.image | relative_url }}" class="img-fluid rounded mx-auto mb-4 d-block" alt="{{page.title}}">
          <div class="card">
            <div class="card-body mb-0 pb-0">
              {{ page.keyphrase | markdownify }}
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-5 col-12 mb-0 logo">
              <img src="{{ site.baseurl }}/assets/img/hubs/{{ page.logo-file-name }}" alt="{{ page.title }} Logo">
            </div>
            <div class="col-md-7 col-12 mb-0 text-center">
              {% if page.social-media.website-url %}
                <a href="{{ page.social-media.website-url }}" class="btn btn-primary visit-website" target="_blank">Visit Website</a>  
              {% endif %}
              {% for platform in page.social-media.platforms %}
                <a href="{{ platform.url }}" class="btn btn-primary visit-website" target="_blank"><i class="fab {{ platform.fa-icon-code }}"></i></a>
              {% endfor %}
            </div>
          </div>
          <p>Location: {{ page.caption.subtitle }}</p>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

