---
layout: default
---

<section class="section hub-nav bg-dark"> 
</section>

<section class="section hub-page pt-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-12 mx-auto">
        <h3 class="font-tertiary mb-3 mt-5 text-center">{{ page.title | escape }}</h3>
        <p class="text-muted text-center mx-auto" style="max-width: 500px;">{{ page.subtitle }}</p>
        <div class="content">
          <img src="{{ page.image | relative_url }}" class="img-fluid rounded mx-auto mb-4 d-block" alt="{{page.title}}">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

